html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, serif;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 6px 10px 6px 0;
}

/*Модальное окно*/
.modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    justify-content: space-around;
    align-items: center;
}

.modal .window {
    margin: 0 auto;
    min-width: 300px;
    min-height: 100px;
    box-sizing: border-box;
    background-color: #fff;
    transition: 1s;
    position: relative;
}

.modal .window .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-bottom: solid 1px #ccc;
    background-color: #eee;
    padding: 0 16px;
    box-sizing: border-box;
}

.modal .window .content {
    padding: 16px;
    box-sizing: border-box;
}

.modal .close {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#date {
    margin-top: auto;
    font-size: 10px;
}

#close_modal {
    cursor: pointer;
    font-size: 30px;
}

@keyframes modal {
    from {
        opacity: 0;
        top: 5%;
        transform: rotateX(25deg);
    }

    to {
        opacity: 1;
        top: 15%;
        transform: rotateX(0deg);
    }
}

.underlined {
    text-decoration: line-through;
}

.root {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

.search {
    height: 100px;
}

.input {
    height: 50px;
    font-size: 16px;
    border: solid 1px;
}

.root > .content {
    display: flex;
    align-items: center;
}

.root > .content .list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    grid-template-rows: repeat(auto-fill, minmax(200px, auto));
    grid-gap: 1em;
}

.root > .content .list .item {
    box-sizing: border-box;
    box-shadow: 0 0 4px #000;
    border-radius: 5px;
    background-color: rgba(160, 103, 214, 0.719);
}

.root > .content .list .add {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 0 4px #000;
    border-radius: 5px;
    background-color: rgba(34, 150, 228, 0.842);
}

.root > .content .list .item {
    padding: 8px 16px;
}

.root > .content .list .item .header {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 30px;
}

.root > .content .list .item .header .title {
    font-weight: bold;
}

.root > .content .list .item > * {
    width: 100%;
    display: flex;
    align-items: center;
}

.root > .content .list .item > * button {
    margin-left: auto;
    opacity: 0;
}

.root > .content .list .item > *:hover button {
    opacity: 1;
}

.root > .content .list .item .edit {
    cursor: pointer;
    margin-left: auto;
    opacity: 0;
}

.root > .content .list .item:hover .edit {
    opacity: 1;
}